spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/xlcfi_dev
    username: xlcfi_dev
    password: dev_password
  
  data:
    redis:
      host: localhost
      port: 6379
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

